* {
	margin: 0;
}

html, body {
	background-color: black;
	margin: 0;
	padding: 0;
    -webkit-user-select: none;
}

a {
	color: white;
	outline: none;
}

#splash {
	display: none;
}

#header {
	width: 100%;
	color: white;
}

#header .left {
    position: absolute;
    top: 10px;
    left: 5%;
    font-size: x-large;
 }

#header .right {
    position: absolute;
    top: 10px;
    right: 5%;
    font-size: x-large;
 }

#header .center {
	text-align: center;
	font-size: 350%;	
}

#header .center a {
    text-decoration: none;
}


#footer {
	width: 100%;
	color: white;
}

#gamefield {
    margin: auto;
    width: 45%;
    min-width: 485px;
    overflow: hidden;
}

#landscape-error {
    height: 75%;
    font-size: xx-large;
    color: red;
    display: none;
    margin: 10%;
    text-align: center;
}

.gem {
    position: absolute;
    margin: 5px;
	border: 3px solid white;
	border-radius: 5px;	
	cursor: pointer;
    background-size: 52px;
    background-repeat: no-repeat;
    background-position: center; 
}

/* unsed at the moment. 
   intended for highlighting the selected tile
*/
.selected {
    border-color: black;
}

@-webkit-keyframes markeranimation {
    from {
        -webkit-transform: scale(0.95, 0.95);
    }

    to {
        -webkit-transform: scale(1.025, 1.025);
    }
}

@-moz-keyframes markeranimation {
    from {
        -moz-transform: scale(0.95, 0.95);
    }

    to {
        -moz-transform: scale(1.025, 1.025);
    }
}

#marker {
    display: none;
    border: 7px solid white;

    -webkit-animation: markeranimation 250ms infinite alternate;
    -moz-animation: markeranimation 250ms infinite alternate;    
}

.jeweltype0 {
	background-color: #75B2DD;
	background-image: url(umaine.png)	;
}

.jeweltype1 {
	background-color: rgba(0, 56, 147, 0.6);
	background-image: url(usm.png);
}

.jeweltype2 {
	background-color: #60C659;
	background-image: url(uma.png);
}

.jeweltype3 {
	background-color: maroon;
	background-image: url(umf.png);
}

.jeweltype4 {
	background-color: gold;
	background-image: url(umpi.png);
}

.jeweltype5 {
	background-color: green;
	background-image: url(umm.png);
}

.jeweltype6 {
	background-color: gold;
	background-image: url(umfk.png);
}

.jeweltype7 {
	background-color: white;
	background-image: url(ums.png);
}


#about, #playfor, #leaderboard {
	display: none;
}

#playfor {
	padding: 5px;
	cursor : pointer,
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#about ul, #playfor ul {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#about ul li, #playfor ul li {
	display: inline-block;
	margin: 2px auto;
	background-image: none;
	border: 2px solid grey;
	border-radius: 5px;
	width: 45%;
	max-width: 150px;
	vertical-align: top;
}

#about ul li a, #playfor ul li a {
	display: block
}

#leaderboard {
    padding: 0px;
}

#leaderboard ul {
    width: 100%;
    padding: 0px;
}

#leaderboard ul li {
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 44px;
    background-size: 44px;
    margin-bottom: 3px;
}

#leaderboard ul li p {
    display: inline-block;
    vertical-align: middle;
}

ul#myscores li {
    height: 32px;
}

ul#myscores li p {
    margin-top: 5px;
    margin-left: 10px;
}

ul#teamscores li p {
    margin-left: 48px;
    font-weight: bold;
    font-size: x-large;    
}

ul#myscores li .score,
ul#teamscores li .score {
    float: right;
    display: inline-block;
    margin: 5px;
    font-weight: normal;     
}

/* jQuery UI settings */
.ui-dialog .ui-dialog-title {
    text-align: center;
}

/* Center jQuery buttons on dialogs */
.ui-dialog .ui-dialog-buttonpane {
    margin: 0px;
    padding: 0px; 
    text-align: center;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none;
}

/* iPhone 4 and 4s ----------- */
@media only screen
    and (max-device-height : 480px) {
    
    #header .left, #header .right {
        top: 0px;
        font-size: large;
     }

    #header .center {
        font-size: large;
    }
}

/* iPhone > =5 ----------- */
@media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
    
    #header .left, #header .right {
        font-size: large;
     }

    #header .center {
    	font-size: xx-large;
    }


    #gamefield {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        min-width: 0px;
        -webkit-user-select: none;
    }
    
    .gem {
        margin: 3px;
        background-size: 95%;
       	border: 2px solid white;
    }
    
    #marker {
        border: 5px solid white;
    }
}

/* iPads (portrait and landscape) ----------- */
/*
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
}
*/

/* iPads (landscape) ----------- */
/*
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) {
}
*/

/* iPads (portrait) ----------- */
/*
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) {
}
*/

/* iPhone 4 ----------- */
/*
@media
    only screen and (-webkit-min-device-pixel-ratio : 1.5),
    only screen and (min-device-pixel-ratio : 1.5) {
}
*/